@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body{
  font-family: 'Signika', sans-serif;
  background: url(./assets/background\ bubbles.png);
  max-width: 1400px;
  margin: auto;
}
